* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    
}
body {
    padding: 30px 50px;
}
section.heading {
    min-height: 100vh;
   /* ; background: url('img/mac2.jpeg') center center/cover no-repeat */
    background: linear-gradient(rgba(207, 243, 247, 0.9), rgba(155, 244, 254, 0.3)), url('img/mac2.jpeg');
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    background-position: top;
}
header {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .fa-bars {
    padding-top: 20px;
    font-size: 25px;
    display: none;
}
.xeone_logo {
    font-size: 50px;
    line-height:30px; 
    padding-top: 14px;
    color: rgb(116, 116, 255); 
}
.xeone_logo span {
    font-weight: 700;
}
.xeone_logo span.doted {
    color: rgb(54, 54, 105);
}
ul {
    list-style-type: none;
    padding: 10px;
}
ul li {
    display: inline-block;
    padding-top: 30px;
}
ul li a {
    text-decoration: none;
    color: rgb(51, 133, 222);
    margin-left: 30px;
    font-size: 17px;   
}
.content {
    padding: 10px 40px;
    margin-top: 160px;
    flex-wrap: wrap;
}
.title {
    flex: 1 1 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: rgb(40, 93, 172);
    font-size: 70px;
    font-weight: 100;
    line-height: 80px;
}
h1 span {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: rgb(27, 80, 161);
    font-weight: 800;
    font-size: 60px;
   
}
.content p {
    text-align: center;
    margin-top: 20px;
    color: rgb(5, 83, 199);
    font-size: 20px;
}
.features {
    min-height: 100vh;
}
.blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    margin-top: -180px;
}
.responsive {
    min-height: 250px;
    background-color:  rgb(109, 248, 232);
    max-width: 350px;
    padding: 30px;
}
.support {
    min-height: 300px;
    background-color: rgb(109, 117, 254);
    max-width: 400px;
    padding: 30px;
}
.coded {
    min-height: 250px;
    background-color:  rgb(109, 248, 232);
    max-width: 350px;
    padding: 30px;  
}
.icon {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.blocks h2 {
    text-align: center;
    margin-top: 40px;
}
.blocks p {
    text-align: center;
    margin-top: 10px;
}
.support .icon {
    margin-top: 55px;
}
.fa-solid {
    font-size: 30px;  
}
.fa-solid.fa-life-ring {
    background-color: aliceblue;
    border-radius: 50%;
}
.service_offer {
    /* padding: 40px 60px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 100px;
  
}
.offers {
    padding-left: 70px;
    line-height: 50px;  
    width: 45vw;
}
.offer {
    font-size: 20px;   
    color: blue;
}
.offer_title {
    font-size: 50px;
}
.offer_text {
    line-height: 25px;
    margin-top: 80px; 
}
img {
    display: block;
    width: 35vw;   
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    background-color: blue;
    border-radius: 50px;  
    margin-top: 30px;
    color: aliceblue;
}

